@using Datahub.Core
@using Datahub.Core.Model.Projects
@using Datahub.Metadata.Model
@using MudBlazor.Utilities

<h2 class="sr-only">
    @Localizer["Workspace security level information"]
</h2>
<p style="@_styles" Class="d-flex align-center">
    <DHIcon Icon=@(SecurityLevel == ClassificationType.Unclassified ? Icons.Material.Outlined.LockOpen : Icons.Material.Outlined.Lock) Size="Size.Small" />
    @Localizer[GetSecurityLabel(SecurityLevel)]
</p>

@code {
    [Parameter] public ClassificationType SecurityLevel { get; set; }

    private string _styles = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _styles = new StyleBuilder()
            .AddStyle("height", "25px")
            .AddStyle("width", "100%")
            .AddStyle("background-color", GetSecurityColor(SecurityLevel))
            .AddStyle("position", "fixed")
            .AddStyle("top", "0px")
            .AddStyle("left", "0px")
            .AddStyle("z-index", "1400")
            .AddStyle("text-align", "center")
            .AddStyle("font-size", "14px")
            .AddStyle("color", "white")
            .AddStyle("font-weight", "bold")
            .AddStyle("justify-content", "center")
            .Build();
    }

    private string GetSecurityColor(ClassificationType securityLevel)
    {
        switch (securityLevel)
        {
            case ClassificationType.ProtectedB:
                return "#2b4380";
            case ClassificationType.ProtectedA:
                return "#0535d2";
            default:
                return "#2460FF";
        }
    }

    private string GetSecurityLabel(ClassificationType securityLevel)
    {
        switch (securityLevel)
        {
            case ClassificationType.ProtectedB:
                return Localizer["Protected B"];
            case ClassificationType.ProtectedA:
                return Localizer["Protected A"];
            default:
                return Localizer["Unclassified"];
        }
    }

}
