@page "/status"
@namespace Datahub.Portal.Scaffold.Pages

<PageTitle>Status</PageTitle>

<h1>Status</h1>
<ul>
    <li>Authentication: stubbed/disabled.</li>
    <li>External integrations: stubbed/disabled.</li>
    <li>Database access: stubbed/disabled.</li>
</ul>
<p>
    TODO: Add staged re-integration of required services with local-dev fallbacks.
</p>
